<link rel="stylesheet" href="/styles/builds.css">

<!-- In Container Class -->

<!-- ROW 1 -->
<div class="row d-flex justify-content-around">
    <!-- Bag-->
    <div class="dropdown head">

        <div class="d-flex border border-dark float-right">

            <!-- Item Icon -->
            <img src="https://gameinfo.albiononline.com/api/gameinfo/items/T7_BAG/" alt="item" class="img-fluid item">

            <!-- Drop Down Button -->
            <button class="btn btn-secondary dropdown-toggle" type="button" id="head_dropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            </button>

            <!-- Gear Option List -->
            <div class=" dropdown-menu" aria-labelledby="dropdownMenuButton">

                <!-- Item Name -->
                <input type="text" name="" id='' placeholder="Search Item">
                <!-- Item Tier -->
                <label for="tier">Tier:</label>
                <input type="number" min="1" max="8" id="tier" placeholder="4" 0>
                <label for="enchant">Enchantment:</label>
                <!-- Item Enchanment Lvl -->
                <input type="number" min='1' max='3' id="enchant" placeholder="1">

            </div>
        </div>

    </div>

    <!-- Head -->
    <div class="dropdown head">

        <div class="d-flex border border-dark float-right">

            <!-- Item Icon -->
            <img src="https://gameinfo.albiononline.com/api/gameinfo/items/T7_HEAD_PLATE_SET2@2/" alt="item"
                class="img-fluid item">

            <!-- Drop Down Button -->
            <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="head_dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>

            <!-- Gear Option List -->
            <div class=" dropdown-menu" aria-labelledby="dropdownMenuButton">

                <!-- Item Name -->
                <input type="text" name="" id='' placeholder="Search Item">
                <!-- Item Tier -->
                <label for="tier">Tier:</label>
                <input type="number" min="1" max="8" id="tier" placeholder="4" 0>
                <label for="enchant">Enchantment:</label>
                <!-- Item Enchanment Lvl -->
                <input type="number" min='1' max='3' id="enchant" placeholder="1">
            </div>
        </div>

    </div>

    <!-- Cape -->
    <div class="dropdown head">

        <div class="d-flex border border-dark float-right">

            <!-- Item Icon -->
            <img src="https://gameinfo.albiononline.com/api/gameinfo/items/T7_CAPE/" alt="item" class="img-fluid item">

            <!-- Drop Down Button -->
            <button class="btn btn-secondary dropdown-toggle" type="button" id="head_dropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            </button>

            <!-- Gear Option List -->
            <div class=" dropdown-menu" aria-labelledby="dropdownMenuButton">

                <!-- Item Name -->
                <input type="text" name="" id='' placeholder="Search Item">
                <!-- Item Tier -->
                <label for="tier">Tier:</label>
                <input type="number" min="1" max="8" id="tier" placeholder="4" 0>
                <label for="enchant">Enchantment:</label>
                <!-- Item Enchanment Lvl -->
                <input type="number" min='1' max='3' id="enchant" placeholder="1">

            </div>
        </div>
    </div>
</div>

<!-- ROW 2 -->
<div class="row d-flex justify-content-around">
    <!-- Main Hand-->
    <div class="dropdown head">

        <div class="d-flex border border-dark float-right">

            <!-- Item Icon -->
            <img src="https://gameinfo.albiononline.com/api/gameinfo/items/T7_MAIN_SWORD@3/" alt="item"
                class="img-fluid item">

            <!-- Drop Down Button -->
            <button class="btn btn-secondary dropdown-toggle" type="button" id="head_dropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            </button>

            <!-- Gear Option List -->
            <div class=" dropdown-menu" aria-labelledby="dropdownMenuButton">

                <!-- Item Name -->
                <input type="text" name="" id='' placeholder="Search Item">
                <!-- Item Tier -->
                <label for="tier">Tier:</label>
                <input type="number" min="1" max="8" id="tier" placeholder="4" 0>
                <label for="enchant">Enchantment:</label>
                <!-- Item Enchanment Lvl -->
                <input type="number" min='1' max='3' id="enchant" placeholder="1">

            </div>
        </div>

    </div>

    <!-- Chest -->
    <div class="dropdown head">

        <div class="d-flex border border-dark float-right">

            <!-- Item Icon -->
            <img src="https://gameinfo.albiononline.com/api/gameinfo/items/T7_ARMOR_PLATE_SET2@2/" alt="item"
                class="img-fluid item">

            <!-- Drop Down Button -->
            <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="head_dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>

            <!-- Gear Option List -->
            <div class=" dropdown-menu" aria-labelledby="dropdownMenuButton">

                <!-- Item Name -->
                <input type="text" name="" id='' placeholder="Search Item">
                <!-- Item Tier -->
                <label for="tier">Tier:</label>
                <input type="number" min="1" max="8" id="tier" placeholder="4" 0>
                <label for="enchant">Enchantment:</label>
                <!-- Item Enchanment Lvl -->
                <input type="number" min='1' max='3' id="enchant" placeholder="1">
            </div>
        </div>

    </div>

    <!-- Off Hand -->
    <div class="dropdown head">

        <div class="d-flex border border-dark float-right">

            <!-- Item Icon -->
            <img src="https://gameinfo.albiononline.com/api/gameinfo/items/T7_OFF_TORCH@1/" alt="item"
                class="img-fluid item">

            <!-- Drop Down Button -->
            <button class="btn btn-secondary dropdown-toggle" type="button" id="head_dropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            </button>

            <!-- Gear Option List -->
            <div class=" dropdown-menu" aria-labelledby="dropdownMenuButton">

                <!-- Item Name -->
                <input type="text" name="" id='' placeholder="Search Item">
                <!-- Item Tier -->
                <label for="tier">Tier:</label>
                <input type="number" min="1" max="8" id="tier" placeholder="4" 0>
                <label for="enchant">Enchantment:</label>
                <!-- Item Enchanment Lvl -->
                <input type="number" min='1' max='3' id="enchant" placeholder="1">

            </div>
        </div>
    </div>
</div>

<!-- ROW 3 -->
<div class="row d-flex justify-content-around">
    <!-- Food -->
    <div class="dropdown head">

        <div class="d-flex border border-dark float-right">

            <!-- Item Icon -->
            <img src="https://gameinfo.albiononline.com/api/gameinfo/items/T7_MEAL_OMELETTE@2/" alt="item"
                class="img-fluid item">

            <!-- Drop Down Button -->
            <button class="btn btn-secondary dropdown-toggle" type="button" id="head_dropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            </button>

            <!-- Gear Option List -->
            <div class=" dropdown-menu" aria-labelledby="dropdownMenuButton">

                <!-- Item Name -->
                <input type="text" name="" id='' placeholder="Search Item">
                <!-- Item Tier -->
                <label for="tier">Tier:</label>
                <input type="number" min="1" max="8" id="tier" placeholder="4" 0>
                <label for="enchant">Enchantment:</label>
                <!-- Item Enchanment Lvl -->
                <input type="number" min='1' max='3' id="enchant" placeholder="1">

            </div>
        </div>

    </div>

    <!-- Feet -->
    <div class="dropdown head">

        <div class="d-flex border border-dark float-right">

            <!-- Item Icon -->
            <img src="https://gameinfo.albiononline.com/api/gameinfo/items/T7_SHOES_PLATE_SET2@2/" alt="item"
                class="img-fluid item">

            <!-- Drop Down Button -->
            <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="head_dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>

            <!-- Gear Option List -->
            <div class=" dropdown-menu" aria-labelledby="dropdownMenuButton">

                <!-- Item Name -->
                <input type="text" name="" id='' placeholder="Search Item">
                <!-- Item Tier -->
                <label for="tier">Tier:</label>
                <input type="number" min="1" max="8" id="tier" placeholder="4" 0>
                <label for="enchant">Enchantment:</label>
                <!-- Item Enchanment Lvl -->
                <input type="number" min='1' max='3' id="enchant" placeholder="1">
            </div>
        </div>

    </div>

    <!-- Potion -->
    <div class="dropdown head">

        <div class="d-flex border border-dark float-right">

            <!-- Item Icon -->
            <img src="https://gameinfo.albiononline.com/api/gameinfo/items/T7_POTION_STONESKIN/" alt="item"
                class="img-fluid item">

            <!-- Drop Down Button -->
            <button class="btn btn-secondary dropdown-toggle" type="button" id="head_dropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            </button>

            <!-- Gear Option List -->
            <div class=" dropdown-menu" aria-labelledby="dropdownMenuButton">

                <!-- Item Name -->
                <input type="text" name="" id='' placeholder="Search Item">
                <!-- Item Tier -->
                <label for="tier">Tier:</label>
                <input type="number" min="1" max="8" id="tier" placeholder="4" 0>
                <label for="enchant">Enchantment:</label>
                <!-- Item Enchanment Lvl -->
                <input type="number" min='1' max='3' id="enchant" placeholder="1">

            </div>
        </div>
    </div>
</div>