<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">

<!-- Content -->
<nav class="navbar">

    <!-- Hamburger Menu -->
    <div class="ham_menu">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>

    <!-- Logo + Title -->
    <div class="float-right logo">
        <a href="/">
            <img src="images/AO_Logo.png" height=100vh alt="Logo">
        </a>

    </div>

    <!-- User Login -->
    <div class="user_menu">
        <a href="/account">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
        </a>

    </div>


</nav>