<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <title>Avalonian Party Maker</title>
</head>

<body>
    <!-- Bootstrap Required Script Files -->
    <%- include('partials/bootstrap') %>

    <!-- Navigation Bar - Ham.Menu - Account-->
    <header> <%- include('partials/nav') %> </header>

    <!-- Avalonian Create Group -->
    <main class="container-fluid">

        <!-- Create Categories [A Card Column] -->
        <div class="row d-flex flex-column m-1">
            <h2>Party Lead: [UserName]</h2>
            <h3>Map Tier: [Image]: T8.1</h3>
            <h4>Time: @14:20 UTC Wendesday </h4>
            <h4>Requirements: 1250ip with appropriate gear</h4>
            <button class="btn btn-primary">Create Role</button>
        </div>

        <hr>

        <div class="row">
            <!-- Create a Slot [Card] - Role: Tank ect... -->

            <!-- Example Cols (will be a for loop) -->
            <div class="col-3 d-flex flex-column">
                <div class="card">
                    <div class="card-body">
                        <h3 class="cart0title">Tanks</h3>
                        <ul>
                            <li>Main Tank: <input type="text" placeholder="Main Tank"></li>
                            <li>Off Tank:<input type="text" name="" placeholder="Off Tank"></li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-secondary">Add Slot</button>
            </div>

            <div class="col-3 d-flex flex-column">
                <div class="card">
                    <div class="card-body">
                        <h3 class="cart0title">DPS</h3>
                        <ul>
                            <li>Divine</li>
                            <li>Fallen</li>
                            <li>Fallen</li>
                            <li>Rampant</li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-secondary">Add Slot</button>
            </div>

        </div>


    </main>

</body>