<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <title>Albion Online Hub</title>
</head>

<body>
    <!-- Bootstrap Required Script Files -->
    <%- include('partials/bootstrap') %>

    <!-- Navigation Bar - Ham.Menu - Account-->
    <header> <%- include('partials/nav') %> </header>


    <div class="container-fluid mt-3">
        <!-- [ ~ Main Content Row ~ ] -->
        <div class="row">

            <!-- Side Bar News - Drama Post-->
            <div class="col-md-3 col-lg-2 d-flex flex-column ">
                <h1 class="text-center">News</h1>
                <hr style="width:100%;">

                <!-- News Card -->
                <div class="card my-1">
                    <div class="card-body">
                        <h3 class="card-title">[SUN] We Are Alone</h3>
                        <p class="card-subtitle text-muted">by Lew Lew</p>
                        <p class="card-text overflow">Says that they are a
                            one guild alliance</p>
                    </div>
                </div>

                <div class="card my-1">
                    <div class="card-body">
                        <h3 class="card-title">[TIDAL] Ride the Wave</h3>
                        <p class="card-subtitle text-muted">by Domnit</p>
                        <p class="card-text overflow">We will be comming back to take whats ours</p>
                    </div>
                </div>

                <div class="card my-1">
                    <div class="card-body">
                        <h3 class="card-title">[CIR] Diplomacy is not bad</h3>
                        <p class="card-subtitle text-muted">by Syndic</p>
                        <p class="card-text overflow">Diplomacy and making deals is part of the game and should not be
                            looked down upon</p>
                    </div>
                </div>





            </div>

            <!-- Main Section - Albion Map - Market -->
            <div class="col-md-9 col-lg-10 ">

                <!-- Albion Map - Gold Market - Premium Price -->
                <div class="row d-flex map">

                    <!-- Map -->
                    <div class="map col-9 s">
                        <img src="/images/AO_Map.png" alt="map" class="img-fluid">
                    </div>

                    <!-- Market -->
                    <div class="gold_market col-3">
                        <h1>Market</h1>
                        <img src="/images/gold_graph.png" alt="gold-graph" class="img-fluid gold_graph">
                        <img src="" alt="">
                    </div>

                </div>
                <hr>

                <!-- Button Banner: Guilds -->
                <div class="banner-button row d-flex justify-content-start">
                    <button class="ao-button">Guilds</button>
                    <button class="ao-button">Albion2D</button>
                    <button class="ao-button">Ava Maker</button>
                </div>

                <!-- Avalonian Raid Maker Banner-->
                <div class="row">
                    <h1>Ava Builder</h1>
                    <div class="banner">
                        <img src="" alt="ava-pic" class="img-fluid">
                    </div>
                </div>

            </div>



        </div>


    </div>

    </div>


</body>

</html>