:root{
    --slotSize: 100px;
}
.head{
    background-image: url(/images/AO_Character_Slots/slot_head.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:var(--slotSize);
    width:var(--slotSize);
}


.dropdown-toggle{
    margin-left:-14%;
    opacity:.9;
    padding:0;
}